AZ_SERVICE_BUS_CONNECTION_STRING=
AZ_SERVICE_BUS_TOPIC_NAME=
AZ_SERVICE_BUS_SUBSCRIPTION_NAME=

DATASET_CREATED_SENDER=topic,iati-mq-registry-changes-topic-local
DATASET_UPDATED_SENDER=topic,iati-mq-registry-changes-topic-local
DATASET_DELETED_SENDER=topic,iati-mq-registry-changes-topic-local
DATASET_DOWNLOAD_REQUEST_SENDER=queue,iati-mq-dataset-download-request-queue-local
REPORTING_ORG_CREATED_SENDER=topic,iati-mq-registry-changes-topic-local
REPORTING_ORG_UPDATED_SENDER=topic,iati-mq-registry-changes-topic-local
REPORTING_ORG_DELETED_SENDER=topic,iati-mq-registry-changes-topic-local
DATASET_CHECK_RESULT_SENDER=topic,iati-mq-dataset-check-results-topic-local
